version: '3'

services:
  lambda:
    build: .
    environment:
      - PYTHONPATH=/var/task/src:/var/task/lib
      - PATH=/var/task/bin
      - AWS_BUCKET_NAME='mandibucket'
      - AWS_ACCESS_KEY_ID='Access Key'
      - AWS_SECRET_ACCESS_KEY='Secret Access Key'
    volumes:
      - ./src/:/var/task/src/
